# Node / Vite / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / Django / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django local DB & media uploads
db.sqlite3
db.sqlite3-journal
media/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
